/*
a {
  color: #0366d6;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
*/

.bg-curso {
    background-color: #8540f5;
}

.section {
    color: #fff;
    text-shadow: 3px 3px #141010;
    background-color: #ffb6b9b0;
    height: 100vh;
}

.navBg {
   background-color: #7952b3;
}

.toolbar {
    background-color: #1b325f
}

/*
a {
  color: #0366d6;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
*/

.bg-curso {
    background-color: #8540f5;
}

.section {
    color: #fff;
    text-shadow: 3px 3px #141010;
    background-color: #ffb6b9b0;
    height: 100vh;
}

.navBg {
    background-color: #7952b3;
}

.toolbar {
    background-color: #1b325f
}
/* En tu archivo CSS o dentro de una etiqueta <style> en tu componente */
.css-1oqqzyl-MuiContainer-root {
    max-width: none !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.css-zxdg2z {
    padding: 0px !important;
}